.booth{
	width: 400px;
	background-color: #accc;
	border: 10px solid #addd;
	margin: 0 auto;

}
.booth-capture-button{
	display: block;
	margin: 10px 0;
	padding: 10px 30px;
	background-color: cornflowerblue;
	color: #fff;
	text-align: center;
	text-decoration: none;
}